*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin: 0 auto;

}

nav{
    padding: 0rem;
    height: 150px; /* ปรับตามต้องการ */
    background: linear-gradient(to right, #7f81ec, #6fc5ff);
}

.nav-con{
    display: flex;
    height: 150px;
    position: relative;
    justify-content: space-between; 
    
}

.logo a{
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    
}

.logo {
  display: flex; /* ใช้ Flexbox เพื่อให้รูปภาพและข้อความอยู่ในแถวเดียวกัน */
  align-items: center; /* จัดให้รูปภาพและข้อความอยู่ในระดับกลาง */
}


.logo img {
  max-width: 25%; /* กำหนดขนาดสูงสุดให้กับรูปภาพ */
  margin-right: 10px; /* เพิ่มช่องว่างระหว่างรูปภาพและข้อความ */
}

.logo p {
  font-size: 50px; /* ขนาดตัวอักษร */
  margin: 0; /* ลบค่า margin ออก */
  color: #ffffff; /* สีของข้อความ */
  font-family: fantasy;
}


.menu{
  display: flex;
   align-items: center;
   text-decoration: none;
   color: #fff;
   
}

.menu li{
     margin: 0 1rem;
 
}

.menu il a {
    display: flex;
    color: #ffffff;
    text-decoration: none; 
    padding: 1rem;
}


.maincontent{
    background-color: #9cffe6 ;
    display: flex;
    padding: 0.5rem 0rem;
    margin: 1rem 1rem;
    border-radius: 8rem;
    block-size: 8rem 8rem;
   
}

.maincontent-con{
    display: flex;
    font-size: 4rem;
}

.container-info{
    width: 100;
    padding: 2rem;
    display: flex;
}

.maincontent-info p{
    margin: 1rem 0;
    font-size: 2.5rem;
    display: flex;
}

.maincontent-img{
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    display: block;
    margin-left: 11rem;
    margin-right: auto;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-top: 3fr;
    display: inline-block;
}

.content-title{
    margin: 2rem 0;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
}

.content-item img{
    width: 100%;
    grid-template-columns: 1fr 5fr;
    
    
}

.content-item h4{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content-item h6  {
    font-size: 2rem;
    margin: 1rem 0;
    display: flex;   
}
    
.content-item p{
    margin: 1rem 0;
    
}

.content-item a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 162, 23);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 10rem;
    
}

.footer-top{
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #CC99FF;
    color: #ffffff;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1f 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: block;
    margin: 1rem 0;
}

.footer-top-item:nth-child(3)h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}
