*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url('https://images3.alphacoders.com/104/1044851.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.container{
    max-width: 100%;
    margin: 0 auto;

}

nav{
    padding:0rem;
    height: 150px; /* ปรับตามต้องการ */
    background: linear-gradient(to right, #7f81ec, #6fc5ff);
}

.nav-con{
    display: flex;
    justify-content: space-between;
    height: 150px;
    position: relative;
}

.logo a{
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}




.logo {
  display: flex; /* ใช้ Flexbox เพื่อให้รูปภาพและข้อความอยู่ในแถวเดียวกัน */
  align-items: center; /* จัดให้รูปภาพและข้อความอยู่ในระดับกลาง */
}


.logo img {
  max-width: 25%; /* กำหนดขนาดสูงสุดให้กับรูปภาพ */
  margin-right: 10px; /* เพิ่มช่องว่างระหว่างรูปภาพและข้อความ */
}

.logo p {
  font-size: 50px; /* ขนาดตัวอักษร */
  margin: 0; /* ลบค่า margin ออก */
  color: #ffffff; /* สีของข้อความ */
  font-family: fantasy;
}




.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}


.maincontent{
    
    display: flex;
    padding: 3rem;
}

.maincontent-con{
    display: flex;
}

.container-info{
    width: 100;
    padding: 2rem;
    display: flex;
}

.maincontent-info p{
    margin: 1rem 0; 
    font-size: 2.5rem;
    display: flex;
}

.maincontent-img{
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    margin-right: auto;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    text-align: center;
}

.content-title{
    margin: 20px auto; /* จัดตำแหน่งให้กลางหน้า */
    max-width: 600px; /* กำหนดขนาดความกว้างสูงสุด */
    font-size: 2rem;
}

.content-item img{
    margin-left: 10rem;
}

.content-item h4{
    margin-top: 1rem;
    margin-left: 10rem;
    
}

.content-item p{
    margin: 1rem;
    margin-left: 10rem;
    
}

.content-item a{
    margin-left: 10rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 162, 23);
    text-decoration: none;
    padding: 0.5rem 1rem    ;
    border-radius: 10px;
}

.footer-top{
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: linear-gradient(to right, #7f81ec, #6fc5ff);
    color: #ffffff;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: block;
    margin: 1rem 0;
}

.footer-top-item:nth-child(3)h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}
