*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;

}

nav{
    padding: 1rem;
    background-color:#CC99FF ;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.menu li{
    margin: 0 1rem;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
}


.maincontent{
    background-color: #ffffff;
    display: flex;
    padding: 3rem;
}

.maincontent-con{
    display: flex;
}

.container-info{
    width: 100;
    padding: 2rem;
    display: flex;
}

.maincontent-info p{
    margin: 1rem 0;
    font-size: 2.5rem;
    display: flex;
}

.maincontent-img{
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    display: block;
    margin-left: 11rem;
    margin-right: auto;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    display: flex;
}

.content-title{
    margin: 2rem 0;
}

.content-item img{
    width: 100%;
}

.content-item h4{
    margin-top: 1rem;
}

.content-item p{
    margin: 1rem 0;
    
}

.content-item a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 162, 23);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    
}

.footer-top{
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #CC99FF;
    color: #ffffff;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1f 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: block;
    margin: 1rem 0;
}

.footer-top-item:nth-child(3)h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}
